In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler
from sklearn.cluster import KMeans
from sklearn.decomposition import PCA
import matplotlib.pyplot as plt
import seaborn as sns
from tqdm import tqdm
import warnings
import os
from dotenv import load_dotenv
warnings.filterwarnings('ignore')

In [11]:
#loading data
import kagglehub

# Download latest version
path = kagglehub.dataset_download("firecastrl/us-wildfire-dataset")
print(path)

C:\Users\isabe\.cache\kagglehub\datasets\firecastrl\us-wildfire-dataset\versions\1

In [24]:
load_dotenv(override=True)
data_path = os.getenv("DATA_PATH")
df = pd.read_csv(data_path)

In [25]:
#shows if object or numeric
df.head()      # Show first 5 rows
df.info()      # Show data types and non-null counts

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9509925 entries, 0 to 9509924
Data columns (total 19 columns):
 #   Column     Dtype
---  ------     -----
 0   latitude   float64
 1   longitude  float64
 2   datetime   object
 3   Wildfire   object
 4   pr         float64
 5   rmax       float64
 6   rmin       float64
 7   sph        float64
 8   srad       float64
 9   tmmn       float64
 10  tmmx       float64
 11  vs         float64
 12  bi         float64
 13  fm100      float64
 14  fm1000     float64
 15  erc        float64
 16  etr        float64
 17  pet        float64
 18  vpd        float64
dtypes: float64(17), object(2)
memory usage: 1.3+ GB

In [26]:
print(df['Wildfire'].value_counts())

Wildfire
No     9007860
Yes     502065
Name: count, dtype: int64

In [27]:
print(df.describe())

           latitude     longitude            pr          rmax          rmin  \
count  9.509925e+06  9.509925e+06  9.509925e+06  9.509925e+06  9.509925e+06
mean   3.914362e+01 -1.064347e+02  9.036891e+01  1.645754e+02  1.220707e+02
std    5.267332e+00  1.456924e+01  1.701836e+03  1.698086e+03  1.700272e+03
min    2.526027e+01 -1.244370e+02  0.000000e+00  5.000000e+00  1.000000e+00
25%    3.468867e+01 -1.183439e+02  0.000000e+00  6.180000e+01  1.930000e+01
50%    3.853161e+01 -1.109258e+02  0.000000e+00  8.000000e+01  3.080000e+01
75%    4.367004e+01 -9.541990e+01  0.000000e+00  9.520000e+01  4.550000e+01
max    4.899873e+01 -6.701250e+01  3.276700e+04  3.276700e+04  3.276700e+04

                sph          srad          tmmn          tmmx            vs  \
count  9.509925e+06  9.509925e+06  9.509925e+06  9.509925e+06  9.509925e+06
mean   8.864304e+01  3.091587e+02  3.682137e+02  3.821415e+02  9.239142e+01
std    1.701914e+03  1.692717e+03  1.687376e+03  1.686659e+03  1.701719e+03
min    1.300000e-04  0.000000e+00  2.309000e+02  2.419000e+02  3.000000e-01
25%    3.600000e-03  1.472000e+02  2.749000e+02  2.879000e+02  2.600000e+00
50%    5.520000e-03  2.277000e+02  2.811000e+02  2.955000e+02  3.400000e+00
75%    7.790000e-03  3.001000e+02  2.864000e+02  3.019000e+02  4.600000e+00
max    3.276700e+04  3.276700e+04  3.276700e+04  3.276700e+04  3.276700e+04

                 bi         fm100        fm1000           erc           etr  \
count  9.509925e+06  9.509925e+06  9.509925e+06  9.509925e+06  9.509925e+06
mean   1.221668e+02  1.013892e+02  1.030986e+02  1.320922e+02  9.425599e+01
std    1.700336e+03  1.701257e+03  1.701169e+03  1.699822e+03  1.701624e+03
min    0.000000e+00  1.100000e+00  2.100000e+00  0.000000e+00  0.000000e+00
25%    1.900000e+01  8.700000e+00  1.030000e+01  2.500000e+01  3.200000e+00
50%    3.400000e+01  1.290000e+01  1.480000e+01  3.900000e+01  5.400000e+00
75%    5.000000e+01  1.660000e+01  1.840000e+01  6.100000e+01  7.700000e+00
max    3.276700e+04  3.276700e+04  3.276700e+04  3.276700e+04  3.276700e+04

                pet           vpd
count  9.509925e+06  9.509925e+06
mean   9.275527e+01  8.976546e+01
std    1.701701e+03  1.701856e+03
min    0.000000e+00  0.000000e+00
25%    2.300000e+00  4.700000e-01
50%    4.100000e+00  9.200000e-01
75%    5.800000e+00  1.580000e+00
max    3.276700e+04  3.276700e+04

In [28]:
print(df.head(10))

    latitude  longitude    datetime Wildfire   pr   rmax  rmin      sph  \
0  48.128431 -97.276685  2018-08-15       No  0.0   78.6  14.9  0.00582
1  48.128431 -97.276685  2018-08-16       No  0.0   80.4  13.9  0.00676
2  48.128431 -97.276685  2018-08-17       No  0.0   70.9  20.4  0.00672
3  48.128431 -97.276685  2018-08-18       No  5.0   65.2  19.4  0.00756
4  48.128431 -97.276685  2018-08-19       No  0.0  100.0  42.2  0.00895
5  48.128431 -97.276685  2018-08-20       No  0.0   72.1  22.2  0.00588
6  48.128431 -97.276685  2018-08-21       No  0.0   70.3  17.4  0.00539
7  48.128431 -97.276685  2018-08-22       No  0.0   56.2  11.9  0.00526
8  48.128431 -97.276685  2018-08-23       No  0.0   89.3  34.8  0.00959
9  48.128431 -97.276685  2018-08-24       No  0.0  100.0  47.4  0.01186

    srad   tmmn   tmmx   vs    bi  fm100  fm1000   erc   etr  pet   vpd
0  272.6  282.0  301.6  3.0  40.0   10.2    12.2  54.0   7.5  5.5  1.59
1  264.0  283.9  304.9  3.0  40.0    9.7    12.0  56.0   8.2  5.9  1.93
2  265.6  285.8  300.7  3.1  40.0    9.2    11.9  56.0   7.2  5.3  1.51
3  261.4  289.0  303.3  5.1   0.0    9.9    12.0  40.0  10.0  6.9  1.85
4  166.8  283.8  296.5  4.7  41.0   11.8    12.1  47.0   4.6  3.4  0.66
5  264.8  283.5  297.5  4.0  44.0   10.7    12.0  53.0   7.2  5.2  1.22
6  259.8  282.6  298.7  2.4  37.0    9.8    11.8  56.0   6.2  4.6  1.38
7  261.1  285.8  302.1  4.6  51.0    8.7    11.6  59.0   9.9  6.7  1.90
8  249.5  287.6  300.2  4.5  46.0    9.6    11.6  54.0   6.8  5.0  1.09
9  197.7  286.7  299.6  3.3  36.0   11.7    11.8  48.0   4.3  3.4  0.62

In [29]:
#looking for missing values 
print(df.isnull().sum())

latitude     0
longitude    0
datetime     0
Wildfire     0
pr           0
rmax         0
rmin         0
sph          0
srad         0
tmmn         0
tmmx         0
vs           0
bi           0
fm100        0
fm1000       0
erc          0
etr          0
pet          0
vpd          0
dtype: int64

In [30]:
# Convert Wildfire to binary
df['Wildfire_binary'] = (df['Wildfire'] == 'Yes').astype('int8')

print("Wildfire distribution:")
print(df['Wildfire_binary'].value_counts())
print(f"Wildfire rate: {df['Wildfire_binary'].mean():.3f}")

Wildfire distribution:
Wildfire_binary
0    9007860
1     502065
Name: count, dtype: int64
Wildfire rate: 0.053

In [31]:
# Simple approach for days_from_ignition
print("\nCreating temporal sequences...")

# Reset index to ensure proper ordering
df = df.reset_index(drop=True)

# Create sequence groups (each 75-day window)
df['window_id'] = df.index // 75
df['days_from_ignition'] = (df.index % 75) - 60

print(f"Total windows: {df['window_id'].nunique()}")
print(f"Days from ignition range: {df['days_from_ignition'].min()} to {df['days_from_ignition'].max()}")
print(f"Window size check: {df['window_id'].value_counts().head(3)}")

#there are 126798 unique 75-day wildfire windows

Creating temporal sequences...
Total windows: 126799
Days from ignition range: -60 to 14
Window size check: window_id
126798    75
0         75
1         75
Name: count, dtype: int64

In [32]:
#normalization with z score
normalization_cols = ['pr', 'rmax', 'rmin', 'sph', 'srad', 'tmmn', 'tmmx', 'vs', 
                     'bi', 'fm100', 'fm1000', 'erc', 'etr', 'pet', 'vpd']

scaler = StandardScaler()
df[normalization_cols] = scaler.fit_transform(df[normalization_cols])

In [33]:
df.head(10)

,latitude,longitude,datetime,Wildfire,pr,rmax,rmin,sph,srad,tmmn,...,bi,fm100,fm1000,erc,etr,pet,vpd,Wildfire_binary,window_id,days_from_ignition
0,48.128431,-97.276685,2018-08-15,No,-0.053101,-0.050631,-0.063031,-0.052081,-0.021598,-0.051093,...,-0.048324,-0.053601,-0.053433,-0.045941,-0.050984,-0.051275,-0.051811,0,0,-60
1,48.128431,-97.276685,2018-08-16,No,-0.053101,-0.049571,-0.063620,-0.052080,-0.026678,-0.049967,...,-0.048324,-0.053895,-0.053551,-0.044765,-0.050573,-0.051040,-0.051612,0,0,-59
2,48.128431,-97.276685,2018-08-17,No,-0.053101,-0.055165,-0.059797,-0.052080,-0.025733,-0.048841,...,-0.048324,-0.054189,-0.053609,-0.044765,-0.051161,-0.051393,-0.051858,0,0,-58
3,48.128431,-97.276685,2018-08-18,No,-0.050163,-0.058522,-0.060385,-0.052080,-0.028214,-0.046945,...,-0.071849,-0.053777,-0.053551,-0.054178,-0.049515,-0.050453,-0.051659,0,0,-57
4,48.128431,-97.276685,2018-08-19,No,-0.053101,-0.038028,-0.046975,-0.052079,-0.084101,-0.050027,...,-0.047736,-0.052661,-0.053492,-0.050059,-0.052688,-0.052509,-0.052358,0,0,-56
5,48.128431,-97.276685,2018-08-20,No,-0.053101,-0.054459,-0.058738,-0.052081,-0.026206,-0.050204,...,-0.045971,-0.053307,-0.053551,-0.046530,-0.051161,-0.051452,-0.052029,0,0,-55
6,48.128431,-97.276685,2018-08-21,No,-0.053101,-0.055519,-0.061561,-0.052081,-0.029159,-0.050738,...,-0.050088,-0.053836,-0.053668,-0.044765,-0.051748,-0.051804,-0.051935,0,0,-54
7,48.128431,-97.276685,2018-08-22,No,-0.053101,-0.063822,-0.064796,-0.052081,-0.028391,-0.048841,...,-0.041855,-0.054483,-0.053786,-0.043000,-0.049574,-0.050570,-0.051629,0,0,-53
8,48.128431,-97.276685,2018-08-23,No,-0.053101,-0.044330,-0.051327,-0.052079,-0.035244,-0.047775,...,-0.044795,-0.053954,-0.053786,-0.045941,-0.051396,-0.051569,-0.052105,0,0,-52
9,48.128431,-97.276685,2018-08-24,No,-0.053101,-0.038028,-0.043917,-0.052077,-0.065846,-0.048308,...,-0.050676,-0.052719,-0.053668,-0.049471,-0.052865,-0.052509,-0.052381,0,0,-51

In [36]:
#makes a file
df.to_csv('wildfire_data_preprocessed.csv', index=False)